*{
	padding: 0px;
	margin: 0px;
	list-style: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.main{
	width: 800px;
	height: 600px;
	margin: 0px auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 100px;
}
.box{
	width: 642px;
	height: 417px;
	margin: 0px auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #DDDDDD;
	padding: 20px;
}
.box_body{
	width: 422px;
	height: 222px;
	margin: 0px auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-top: 20px;
}
.box_le{
	width: 182px;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: left;
}
.box_le_main{
	width: 100%;
	height: 182px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	background-color: rgba(0,0,0,0.6);
}
.box_le_img{
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	left: 0px;
}
.j-img-ago{
	position: absolute;
	clip: rect(0px,50px,50px,0px);
}
.j-img-back{
	opacity: 0.3;
}
.my_img_wid{
	width: 100%;
	height: auto;
}
.my_img_hei{
	height: 100%;
	width: auto;
}
.box_le_mb{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	transform: translate(10px,30px);
}
.box_mb_to{
	position: absolute;
	width: 100%;
	height: 10px;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.5);
}
.box_mb_ri{
	position: absolute;
	width: 10px;
	height: 160px;
	top: 10px;
	right: 0px;
	background-color: rgba(0,0,0,0.5);
}
.box_mb_bo{
	position: absolute;
	width: 100%;
	height: 10px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.5);
}
.box_mb_le{
	position: absolute;
	width: 10px;
	height: 160px;
	top: 10px;
	left: 0px;
	background-color: rgba(0,0,0,0.5);
}
.box_le_xq{
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid rgba(255,255,255,1);
	cursor: move;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,1);
}
.box_le_p{
	font-size: 12px;
	text-align: center;
	font-weight: 700;
	line-height: 40px;
	color: darkgray;
}
.box_ri{
	width: 182px;
	height: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	float: right;
}
.box_ri_main{
	width: 100%;
	height: 182px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	position: relative;
}
.label{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	z-index: 99;
}
.label:hover{
	background-image: url(../img/sc_bg.png);
}
.canvas_ma{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	bottom: 0px;
	z-index: 999;
}
.canvas{
	position: relative;
	top: 0px;
	left: 0px;
}
.input_img{
	display: none;
}


