.cae-bd{
    margin: 0 auto;
    padding: 40px 110px;
    width: 642px;
    height: 417px;
    border: 1px solid #DDDDDD;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cae-mn{
    overflow: auto;
    width: 100%;
    height: auto;
}
.cae-mnc{
    overflow: hidden;
    position: relative;
    width: 180px;
    height: 180px;
    border: 1px solid #DDDDDD;
    background-color: #666;
}
.cae-co{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.cae-img{
    position: absolute;
    display: block;
}
.cae-img-tp{
    clip: rect(0px,50px,50px,0px);
    z-index: 9;
}
.cae-img-bm{
    z-index: 1;
    opacity: 0.3;
}
.cae-img-wi{
    width: 100%;
    height: auto;
}
.cae-img-he{
    width: auto;
    height: 100%;
}
.cae-mb{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #fff;
    transform: translate(0px,0px);
    cursor: move;
}
.cae-fl{
    float: left;
    width: 182px;
    height: auto;
}
.cae-fr{
    float: right;
    width: 182px;
    height: auto;
}
.cae-lel{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/sc_bg.png);
    cursor: pointer;
}
.cae-fle{
    display: none;
}
